<nav class="navbar">
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Parcels</a></li>
    <li><a href="#">Drivers</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</nav>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Driver</th>
        <th>Parcel</th>
        <th>Action</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parcel of paginatedParcels">
        <td>
          <select [(ngModel)]="parcel.selectedDriver">
            <option *ngFor="let driver of drivers" [value]="driver.id">{{ driver.name }}</option>
          </select>
        </td>
        <td>{{ parcel.name }}</td>
        <td>
          <button class="btn allocate" (click)="allocateParcel(parcel)">Allocate</button>
          <button class="btn reallocate" (click)="reallocateParcel(parcel)">Reallocate</button>
        </td>
        <td>
          <input class="comment-input" [(ngModel)]="parcel.comment" type="text" placeholder="Add comment">
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <button (click)="changePage('prev')" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="changePage('next')" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
